<?xml version="1.0" encoding="UTF-8"?>
<plugin compile = "true" id="matrix-mobile-plugin-contents" version="9.0.1.0" type="basic">
    <name>Contents</name>
    <description>MatrixMobile Contents Plugin</description>

    <!-- android -->
    <platform name="android">
        <js-module src="www/contents.js" name="contents">
            <clobbers target="matrixMobile.plugin.contents" />
        </js-module>

        <config-file target="PluginConfig.yaml">
            <feature name="ContentsPlugin">
                <param name="android-package" value="matrix.mobile.plugin.contents.ContentsPlugin"/>
            </feature>
        </config-file>


        <lib-file src="libs/matrix-mobile-plugin-contents-9.0.1.0.jar"/>

        <resource-file src="res/drawable-hdpi" target="res/drawable-hdpi" />
        <resource-file src="res/drawable-mdpi" target="res/drawable-mdpi" />
        <resource-file src="res/drawable-xhdpi" target="res/drawable-xhdpi" />
        <resource-file src="res/drawable-xxhdpi" target="res/drawable-xxhdpi" />
        <resource-file src="res/drawable-xxxhdpi" target="res/drawable-xxxhdpi" />

    </platform>
</plugin>