<?xml version="1.0" encoding="UTF-8"?>
<plugin compile="true" id="matrix-mobile-plugin-storage" type="basic" version="9.1.1.0">
    <name>Storage</name>
    <description>MatrixMobile Storage Plugin</description>

    <!-- android -->
    <platform name="android">

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <js-module name="storage" src="www/storage.js">
            <clobbers target="matrixMobile.plugin.storage" />
        </js-module>

        <config-file target="PluginConfig.yaml">
            <feature name="StoragePlugin">
                <param name="android-package" value="matrix.mobile.plugin.storage.StoragePlugin" />
            </feature>
        </config-file>

        <lib-file src="libs/matrix-mobile-plugin-storage-9.1.1.0.jar" />

    </platform>


</plugin>
